@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("./palette.css");

:root {
  --main-family: "Poppins", sans-serif;
  --color-bg: linear-gradient(
    180deg,
    var(--green-050) 0%,
    var(--green-200) 100%
  );

  /* Controls the blob blur gradient colors within the main tag's svg */
  --top-right-blur-1: var(--green-500);
  --top-right-blur-2: var(--yellow-500);
  --bttm-left-blur-1: var(--red-500);
  --bttm-left-blur-2: var(--purple-500);

  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --color-text: var(--grey-900);
}

html {
  background: var(--color-bg);
  font-family: var(--main-family);
  min-height: 100%;
}

#background {
  position: fixed;
  width: 100%;
  z-index: -1;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5%;
}

.header {
  text-align: center;
}

.header .title {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2ch;
  padding: 0 2%;
}

.header .title img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.header h1 {
  margin: 0;
}

.header .logo img {
  margin-top: 3%;
  width: 80%;
  max-width: 800px;
  height: auto;
  border-radius: 5%;
}

.header h2 {
  line-height: 34px;
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  font-weight: 500;
}

.header h3 {
  width: 70%;
  margin: 0 auto;
  margin-top: 3%;
  font-weight: 400;
}

.socials {
  display: flex;
  gap: 2ch;
  justify-content: center;
  margin-top: 3%;
}

.credits {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.credits img {
  width: 60%;
  height: auto;
}
