@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("./palette.css");
@import url("./gallery.css");

:root {
  --main-family: "Poppins", sans-serif;
  --color-bg: linear-gradient(
    180deg,
    var(--green-050) 0%,
    var(--green-200) 100%
  );

  /* Controls the blob blur gradient colors within the main tag's svg */
  --top-right-blur-1: var(--green-500);
  --top-right-blur-2: var(--yellow-500);
  --bttm-left-blur-1: var(--red-500);
  --bttm-left-blur-2: var(--purple-500);

  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --color-text: var(--grey-900);
  --color-text-light: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  background: var(--color-bg);
  scrollbar-color: var(--green-200) var(--green-050);
  font-family: var(--main-family);
  min-height: 100%;
}

#background {
  position: fixed;
  width: 100%;
  z-index: -1;
  height: 100%;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2ch;
  padding: 0 2%;
}

.title img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.h1 {
  margin: 0;
  font-size: var(--font-size-xl);
}

.hero .background {
  border-radius: 16px;
  aspect-ratio: 3 / 4;
  background-size: cover;

  padding: 3%;
}

.hero .background .glass {
  padding: 3%;
}

.glass {
  background: rgba(194, 216, 196, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(194, 216, 196, 0.52);
}

.hero h2 {
  line-height: 34px;
  font-weight: 500;
  text-align: center;
  color: var(--color-text-light);
  font-size: var(--font-size-lg);
}

.socials {
  display: flex;
  gap: 2ch;
  justify-content: center;
  margin-top: 3%;
}

.long-text {
  font-size: var(--font-size-base);
  padding: 3%;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.credits {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.credits img {
  width: 60%;
  height: auto;
}

.map {
  margin-top: 3%;
  aspect-ratio: 21/9;
  width: 100%;
}

.emp {
  font-weight: 700;
  color: var(--green-500);
}
