---
import "../style/styles.css";

export interface Props {
  title: string;
  heroImageSrc: string;
}

const { title, heroImageSrc } = Astro.props as Props;
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta
      name="description"
      content="58-400 Kamienna Góra, Raszów 1 w Karkonoszach"
    />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Domek Raszówka" />
    <meta
      property="og:description"
      content="58-400 Kamienna Góra, Raszów 1 w Karkonoszach"
    />
    <meta property="og:image" content={heroImageSrc} />
    <meta property="og:url" content="https://domekraszowka.pl/" />
    <meta property="og:type" content="website" />

    <!-- Optional: Twitter Card meta tags for better Twitter display -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Domek Raszówka" />
    <meta
      name="twitter:description"
      content="58-400 Kamienna Góra, Raszów 1 w Karkonoszach"
    />
    <meta name="twitter:image" content={heroImageSrc} />

    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href={heroImageSrc}
      type="image/webp"
    />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    font-family: system-ui, sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-text);
  }
  body {
    margin: 0;
  }
  :global(h1) {
    font-size: var(--font-size-xl);
  }
  :global(h2) {
    font-size: var(--font-size-lg);
  }
</style>
