---
import { getImage } from "astro:assets";

const { title, href, icon } = Astro.props;
const iconImage = await getImage({ src: icon, width: 48 });
---

<a href={href}>
  <img src={iconImage.src} alt={title} width={48} />
</a>
